version: "3.9"

services:
  node:
    build: ./node
    image: node:latest
    container_name: node
    environment:
      - TAILNET_NAME=${TAILNET_NAME}
      - TAILSCALE_HOSTNAME=${TAILSCALE_HOSTNAME}
    depends_on:
      - tailnet
    network_mode: service:tailnet
    devices:
      - /dev/kvm
      - /dev/vhost-net
      - /dev/fuse
      - /dev/ptmx
      - /dev/hwrng
      - /dev/btrfs-control
      - /dev/vga_arbiter
      - /dev/sdc
    device_cgroup_rules:
      - 'c *:* rwm'
    volumes:
      - ./node/.storage:/storage
    stop_grace_period: 2m
    restart: always

  tailnet:
    build:
      context: .
      dockerfile: Dockerfile
    image: tailnet:latest
    container_name: tailnet
    cap_add: 
      - NET_ADMIN
    environment:
      - TAILSCALE_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TAILNET_NAME=${TAILNET_NAME}
      - TAILSCALE_HOSTNAME=${TAILSCALE_HOSTNAME}
      - SABLIER_PORT=${SABLIER_PORT}
      - CADDY_WATCH=true
    volumes:
      - ./tailnet-state:/tailscale
      - /var/run/docker.sock:/var/run/docker.sock:ro
    privileged: true
    restart: always
volumes:
  tailnet-state: